<div class="row">
  <%= link_to 'Back to Lists', lists_path %>
<h1><%= @list.name %></h1>

<%= form_for(@list, :url => {:action => 'update', :id => @list.id}) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <button class="small_button">Add New Item</button>

  <div class="row" id="add_item append"></div>

  <% if false %><%= form_for(@list) do |f| %>
    <div class="row">
      <%= f.fields_for :item do |i| %>
        <div class="large-2 columns add_item">Add New Item:</div>
        <div class="large-2 columns">
          <%= i.label :name %>
          <%= i.text_field :name %>
        </div>
        <div class="large-8 columns">
          <%= i.label :description %>
          <%= i.text_field :description %>
        </div>
      <% end %>
    </div>
  <% end %><% end %>

  <h4>Edit List Items</h4>

  <div class="item_form_list">
    <%= f.nested_fields_for :items do |i| %>

	     <div class="row">
        <div class="large-2 columns check_box">
	        <%= i.check_box :done %>
	      </div>
        <div class="large-8 columns">
          <%= i.text_field :name %>
        </div>
        <div class="large-2 columns">
          <button class="small_button shown_button">X</button><div class="small_button hidden_button"><%= i.remove_nested_fields_link 'Are you sure?' %></div>
        </div>
      </div>
	      
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit :id => 'submit_button' %>
  </div>
<% end %>
</div>