<div class="row">

<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div id="create_list"><%= f.label :name, "Create a new list" %></div><br>
    <%= f.text_field :name %>
  </div>

  <% if false %><h2>Add Items to the List</h2>
  <%= f.add_nested_fields_link :items %>
  <div class="row">
    <%= f.nested_fields_for :items do |i| %>
      <div class="large-2 columns">
        <%= i.label :name %>
        <%= i.text_area :name %>
      </div>
      <div class="large-9 columns">
        <%= i.label :description %>
        <%= i.text_area :description %>
      </div>
      
      <div class="large-1 columns">
        <%= i.remove_nested_fields_link "Remove" %>
      </div>

    <% end %>
  </div><% end %>

  <div class="actions">
    <%= f.submit :id => 'small_button' %><%= link_to 'Cancel', lists_path, :class => 'small_button' %>
  </div>
<% end %>

</div>